@page "/"

<center><h1>Looking for a software developer?</h1></center>

<center>
    <p>
        I am a web developer and software engineer, located in Denver, CO. I started my journey as a developer/engineer
        as a frontend developer for a small family owned company in Macon, GA working with .NET and RactiveJS. Now I
        have grown to love C# and Blazor. When I create new applications, C# is what I typically build them in.
    </p>
</center>

<hr />
<center>
    <h2>What I currently do</h2>
</center>
<p>
    I currently am a software engineer for the Rocky Mountain Arsenal Wildlife Refuge located in Commerce City, CO.
    My current position is allowing me to grow my expertise in C#, which we are specifically utilizing the full spectrum
    of a Microsoft tech stack using C# for a backend, with a WebAPI to make calls from the Blazor UI.
</p>

<hr />

<center><h2>Current Projects</h2></center>

<hr />

<center><h2>Current Articles</h2></center>

<hr />

<center><h2>Programming Languages I have worked with</h2></center>
