.loginHeader {
    width: 100%;
    color: white;
    font-size: 1.35em;
    display: block;
    background-color: gray;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    border: 1px solid gray;
    margin: 0;
    font-weight: 200;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.loginBox {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    .login-form-control {
        display: block !important;
        width: 100% !important;
        height: calc(1.5em + .75rem + 2px) !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        color: #495057 !important;
        background-color: #fff !important;
        background-clip: padding-box !important;
        border: 1px solid #ced4da !important;
        border-radius: 12px !important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    }
}

.form-group {
    padding: 7px;
}
