@page
@model LoginModel

@{ ViewData["Title"] = "Log in"; }

<center>
    <div class="row">
        <div class="loginBox">
            <div class="loginHeader">
                <h1>@ViewData["Title"]</h1>
            </div>
            <section>
                <form id="account" method="post">
                    <hr />
                    <div style="padding:7px;">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="login-form-group">
                            <label>Please Enter Email</label>
                            <input asp-for="Input.Email" class="login-form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="login-form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="login-form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="login-form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                            <button type="submit" class="btn btn-danger"><a href="/" style="color:white">Cancel</a></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</center>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
