@page "/Blog"
@using GWBlazor.Shared
@using GWBlazor.Client.Component
@inject HttpClient client

<WdHeader Heading="GWS Articles" SubHeading="A Blazor Powered Blogging App"></WdHeader>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var post in blogPosts)
            {
                <BlogPost BlogPost=@post></BlogPost>
                <hr />
            }
        </div>
    </div>
</div>

@code {
    protected List<Post> blogPosts { get; set; } = new List<Post>();

    protected override async Task OnInitializedAsync()
    {
        await LoadBlogPosts();
    }

    public async Task LoadBlogPosts()
    {
        var blogPostsResponse = await client.GetFromJsonAsync<List<Post>>(Urls.BlogPosts);
        blogPosts = blogPostsResponse.OrderByDescending(p => p.Posted).ToList();
    }

}
