@inject HttpClient client
@using GWBlazor.Client.Component 
@using GWBlazor.Shared

<WdHeader Heading="GWS Articles" SubHeading="A Blazor Powered Blogging App"></WdHeader>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @BlogPost.Content
            </div>
        </div>
    </div>
</article>

@code {
    [Parameter] public string PostID { get; set; }

    public Post BlogPost { get; set; } = new Post();

    protected override async Task OnInitializedAsync()
    {
        await LoadBlogPost();
    }

    private async Task LoadBlogPost()
    {
        BlogPost = await client.GetFromJsonAsync<Post>(Urls.BlogPost.Replace("{id}", PostID));
    }
}
