@page "/addpost"
@inject HttpClient _httpClient
@inject NavigationManager _uriHelper
@using GWBlazor.Shared
@using Blazored.TextEditor
@layout MainLayout

<Header Heading="GWS Articles" SubHeading="Add Post"></Header>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="editor">
                <input @bind=@Title placeholder="Title" class="form-control" />
                <RadzenHtmlEditor @bind-Value="Post" placeholder="Please enter post here" style="height: 500px; margin-bottom: 1rem;" UploadUrl="upload/image" />
                <br />
                <input type="hidden" @bind="Id" />
                <button class="btn btn-primary float-right" @onclick="@SavePost">Post</button>
            </div>
        </div>
    </div>
</div>


@code {

    protected string Post { get; set; }
    protected string Title { get; set; }
    [Parameter] public int Id { get; set; }

    public async Task SavePost()
    {
        var newPost = new Post()
        {
            PostID = Id,
            Title = Title,
            Author = "Grant Watson",
            Content = Post,
            Posted = DateTime.Now
        };

        var savedPost = await _httpClient.PostAsJsonAsync<Post>(Urls.AddBlogPost, newPost);

        _uriHelper.NavigateTo($"viewpost/{savedPost}/{Id}");
    }
}
